<div class="w3-top d-flex" style="z-index:10">

    <div class="w3-bar w3-black w3-card w3-padding-large align-middle">
        <div class="col-6">
            <img class="w3-bar-item w3-hide-medium  w3-hide-small" src="\static\logo3.png" style="width:100%">

        </div>
        <div class="col-10 ">
            <img class="w3-bar-item w3-hide-large " src="\static\logo3.png" style="width:100%">
        </div>
        <a class="w3-bar-item w3-button w3-padding-large  w3-hide-large w3-right col-2" href="javascript:void(0)"
           onclick="myFunction()" title="Menu"><i class="fa fa-bars"></i></a>


        <div class="btn-group-lg w3-right col-6 " role="group" aria-label="Basic example">
            <div class="container">
                <a href="#inicio" class="w3-bar-item w3-button w3-hide-medium  w3-hide-small w3-right"
                   style="margin-top:46px">INICIO</a>
                <a href="#barbearia" class="w3-bar-item w3-button w3-hide-medium  w3-hide-small w3-right "
                   style="margin-top:46px">BARBEARIA</a>
                <a href="#agende" class="w3-bar-item w3-button  w3-hide-medium w3-hide-small w3-right"
                   style="margin-top:46px">AGENDE</a>
                <a href="#contato" class="w3-bar-item w3-button  w3-hide-medium w3-hide-small w3-right"
                   style="margin-top:46px">CONTATO</a>
                <a href="#localizacao" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right"
                   style="margin-top:46px">ENDEREÇO</a>
            </div>

        </div>
    </div>
</div>

<!-- Navbar celular (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large  w3-top w3-right"
     style="margin-top:80px ; z-index:10">
    <a href="#inicio" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">INICIO</a>
    <a href="#barbearia" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BARBEARIA</a>
    <a href="#agende" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">AGENDE</a>
    <a href="#contato" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTATO</a>
    <a href="#localizacao" class="w3-bar-item w3-button w3-padding-large">ENDEREÇO</a>

</div>
